<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>
<p>
  <strong>Text:</strong>
  <%= @article.text %>
</p>


<h2>Comments:</h2>

<% @article.comments.each do |comment| %>
<p>
  <strong>Commenter:</strong>
  <%= comment.commenter %>
</p>
<p>
  <strong>Comment:</strong>
  <%= comment.body %>
</p>
<% end %>



<h2>Add a Comment:</h2>
<p>
  <%= form_for([@article, @article.comments.build]) do |f| %>
    <p>
      <%= f.label :commenter %>
      <%= f.text_field :commenter %>
    </p>
    <p>
      <%= f.label :bode %>
      <%= f.text_area :body %>
    </p>
    <p>
      <%= f.submit %>
    </p>

  <% end %>
</p>



<p>
  <%= link_to 'Edit this Article', edit_article_path(@article) %>
  <%= link_to 'Delete this Article', article_path(@article), method: :delete, data: { confirm: 'Are you sure?' } %>
  <%= link_to 'Back to Articles', articles_path %>
</p>